<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  {% include google_analytics.html %}

  <body>

    <main class="content container">
      {{ content }}

      <div id="social_shares"> 
        <div id="twitter_share">
          {% include twitter_share.html %}
        </div>
        <div id="google_plus_share">
          {% include google_plus_share.html %}
        </div>
        <div id="facebook_share">
          {% include facebook_share.html %}
        </div>
      </div>
      
      {% include facebook_comments.html %}
    </main>

    {% include sidebar.html %}

    <script src="{{ site.baseurl }}/public/js/hydejack.js" async></script>
    <script src="{{ site.baseurl }}/public/js/keymaster.min.js" ></script>
  
    <script>
        key("j", function() {
          scrollWindowDown("down")
        });

        key("k", function() {
          scrollWindowDown("up")
        });

        function scrollWindowDown(direction /* up or down */) {
            var up = direction === "up" ? true : false;

            var scrolledSoFar = 0;
            var scrollStep = up ? -5 : 5;
            var scrollEnd  = up ? -70 : 70;
            var timerID = setInterval(function() {
                window.scrollBy(0, scrollStep);
                scrolledSoFar += scrollStep;
                if (up) {
                  if( scrolledSoFar <= scrollEnd )  {
                    clearInterval(timerID);
                  }
                }
                else {
                  if( scrolledSoFar >= scrollEnd ) {
                    clearInterval(timerID);
                  }
                }
            }, 10);
        }

    </script>
  </body>


</html>
